{% extends "base.html" %}
{% load static %}


{% block title %}<title>About</title> {% endblock %}

{% block content %}
<div class="page-header" data-parallax="true" style="background: linear-gradient(45deg, #000000 0%, #000000 100%);">
  <div id="particles-js"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a  class="btn btn-primary btn-outline-white btn-lg px-5 py-3">Name: Vicky Kumar Deka</a></p>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a class="btn btn-primary btn-outline-white btn-lg px-5 py-3">Roll No: CSB19026</a></p>
            <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-category card-category-social">
              
                </h5>
                <p class="card-description">
                  This Project is created by: 
                  
                  <br>Vicky Kumar Deka
                  <br>Roll No: CSB19026


                 <br>Subject: Software Engineering
                 <br>Dept: Computer Science and Engineering
                </p>
    
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
{% endblock %}