{% extends "base.html" %}
{% load static %}


{% block title %}<title>About</title> {% endblock %}

{% block content %}
<div class="page-header" data-parallax="true" style="background: linear-gradient(45deg, #000000 0%, #000000 100%);">
  <div id="particles-js"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
         


          <h1>Enter the Nucleotide file:</h1>
<form action="/action_page.php">
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile"><br><br>
</form>
<h1>Enter the Amino acid file:</h1>
<form action="/action_page.php">
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile"><br><br>

  

</form>
<a href="{% url 'basic' %}"> 
  <Button class="btn btn-info btn-raised btn-round">Calculate</Button>
</a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}